/lib/*.jar
/test/files/codelib/*.jar
/test/files/lib/*.jar
/test/files/speclib/instrumented.jar
/tools/*.jar
/build.properties
/buildcharacter.properties
/jenkins.properties
/build/
/out/
/bin/
/sandbox/
/src/intellij*/*.iml
/src/intellij*/*.ipr
/src/intellij*/*.iws
**/.cache
/.idea
/.settings
/.vscode
/qbin
/target/
/project/**/target/
/test/macro-annot/target/
/test/files/target/
/test/target/
/build-sbt/
local.sbt
jitwatch.out
/build-restarr/
/target-restarr/
.metals
.bloop
project/**/metals.sbt
.bsp